<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Producer uses your microphone as an audio source when you go live or record.</string>
	<key>NSCameraUsageDescription</key>
	<string>Producer uses your camera as a video source when you go live or record.</string>
</dict>
</plist>
